.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  min-height: calc(100vh - 70px);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}